body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
}
h1{
    font-size:45px;
    
}
h2{
    font-size: 30px;
}
span{
    color:orchid


}
.container{
    display: flex;
    padding-left:5%;
    font-size: medium;
     margin-right: 0ex;
     margin-bottom: 45px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 87%;
}
.link-button{
    border-radius: 5px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding:10px 40px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin-top: 0;
}
.traum{
    
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.job{
    margin-left: 10px;
}
.experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 12px;
    padding-right: 14px;
    border-radius: 12px;
    border-image: linear-gradient(blue cyan);
    border-left: 10px solid;
    border-image-slice: 1;
    
}
#amar{
    border-left: 10px solid ;
    border-image: liener-gradien(red blue);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    color: gainsboro;
    font-size: 45px;
    
}
.footer-st{
    border-radius:4px;
    border-right: 2px;
    box-shadow: 3px 2px 4px greenyellow;


}

